/*Global*/

* {
	margin: 0;
	padding: 0;
	border: 0
}

body {
	background-color: #FFA500;
	font-family: helvetica, sans-serif;
	font-size: 12px
}

header {
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
	background-color: #fff
}

.logo {
	text-align: center
}

nav {
	background-color: #f1f1f1;
	display: inline-block;
	width: 100%
}

.menu {
	list-style: none
}

.menu li {
	position: relative;
	display: inline-block
}

.menu li a {
	padding: 13px 20px;
	display: inline-block;
	color: #333;
	text-decoration: none
}

.menu li:hover {
	background: #999;
	color: #fff;
	border-bottom: 3px solid black
}

.menu li ul {
	background: #f1f1f1;
	border: 1px solid #c0c0c0;
	position: absolute;
	top: 100%;
	left: 0;
	display: none
}

.menu li:hover ul,
.menu li.over ul {
	display: inline-block
}

.menu li ul li {
	display: inline-block;
	width: 100%
}

footer {
	width: 100%;
	height: 100px;
	background-color: black
}

footer div img {
	width: 50px
}

#textrodape {
	margin-top: 30px;
	color: white;
	width: 85%;
	text-align: center;
	float: left
}

#iconrodape {
	margin-top: 20px;
	width: 15%;
	float: left;
	text-align: center
}

#iconrodape p {
	color: white
}

/*Fim Global*/

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*Home*/

#titulo {
	text-align: center;
	margin: 30px 30px;
	font-size: 20px;
	font-weight: bolder
}

th {
	padding: 10px
}

td {
	padding: 10px;
	text-align: center
}

.carros {
	width: 100%
}

.carros img {
	float: left;
	width: 284px;
	height: 213px
}

.carros p {
	width: 300px;
	text-align: justify;
	float: right;
	margin: 0 20px
}

/*Fim Home*/

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*Contato*/

form {
	margin: 0 auto;
	margin-bottom: 20px;
	width: 400px;
	padding: 1em;
	border: 1px solid #dbdbdb;
	background-color: #ffda97;
	box-sizing: border-box
}

.form-div {
	margin-bottom: 1rem;
}

.form-element {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

label {
	display: inline-block;
	margin-bottom: .5rem;
}

textarea {
	resize: vertical
}

input,
textarea {
	font: 1em sans-serif;
	width: 300px;
	box-sizing: border-box;
	border-color: none;
	transition: border-color 1s ease-in-out
}

input:focus,
textarea:focus {
	border: 2px solid #ef4e36;
	transition: border-color .50s ease-in-out
}

.btn {
	padding-left: 90px;
}

.btn {
	margin-left: .5em;
}

.btn {
	background-color: rgb(255, 255, 255);
	transition: background-color ease-in-out .30s;
	padding: 6px 12px;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	border-color: #CCC;
	outline: none;
	font: inherit;
}

input {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	overflow: visible;
}

.btn:hover {
	color: #333;
	text-decoration: none;
	background-color: #ffd079;
	transition: background-color ease-in-out .30s;
	border-color: #8c8c8c
}

textarea {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.texto {
	text-align: justify;
	font-size: 18px;
	display: inline-block;
	width: 65%
}

.texto2 {
	text-align: justify;
	font-size: 18px
}

/*Fim Contato*/

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*Sobre*/

.corpo {
	width: 100%;
	text-align: center;
	margin-bottom: 50px
}

.corpo h1 {
	color: red;
	font-size: 50px;
	font-style: italic;
	margin-bottom: 50px
}

.conteudo {
	display: inline-block;
	width: 70%
}

.imagem {
	float: left
}

.imagem p {
	text-align: justify;
	width: 400px;
	margin: 10px 10px
}

.conteudo img {
	width: 320px;
	height: 205px
}

.conteudo img#grande {
	width: 100%;
	height: 100%
}

/*Fim Sobre*/

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*Meus Carros*/

.meus-carros {
	width: 100%;
	text-align: center;
	margin-bottom: 30px
}

.meus-carros section {
	width: 70%;
	display: inline-block
}

.meus-carros section h1 {
	margin: 30px 0;
	font-size: 18px
}

.meus-carros section h2 {
	margin: 30px
}

.meus-carros img {
	width: 700px;
	height: 450px
}

.meus-carros iframe {
	width: 560px;
	height: 315px
}

.meus-carros section p {
	margin: 10px 0px;
	text-align: justify;
	font-size: 18px
}

/*Fim Meus Carros*/